<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="navbar-container">
        {% include 'navbar.html' %}
    </div>
    <div class="container">
        <h1>Tilføj opskrift</h1>
        <form action="{{ url_for('add_recipe') }}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Kommentar</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="ingredient" class="form-label">Ingredienser</label>
                <textarea class="form-control" id="ingredient" name="ingredient" rows = "3" required></textarea>

            </div>
            <div class="mb-3">
                <label for="quantities" class="form-label">Mængder</label>
                <textarea class="form-control" id="quantities" name="quantities" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>

